<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="shortcut icon" href="{{ url_for('static', filename='robot-with-big-head_icon-icons.com_55270.ico') }}">
  
  <title>Title page</title>  

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>

<!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./publication.html" title="">Publications</a></li>
          <li><a href="./project1.html" title="">Projects</a></li>
          <li><a href="./contactme.html" title="">Contact</a></li>
          
        </ul>

        <div class="footer-container">
           
              <a href="mailto:tommy11305@gmail.com" title="" class="fa-icon">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="https://www.facebook.com/profile.php?id=100002059129791" title="" class="fa-icon">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/tommy11305/" title="" class="fa-icon">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/in/yu-hsiang-su-8aa269164/" title="" class="fa-icon">
                <i class="fa fa-linkedin"></i>
              </a>
                       
        </div>


      </nav> 
    
    </div>
  </nav>
</header>
<div class="section-container content-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-4">
                    <p><br></p>
                    <img src="./static/assets/images/IMG_1494.jpg" class="img-responsive" alt=""> 
                </div>
                <div class="col-md-8">
                    <h1 class="h2">Tommy Su</h1>
                    <p>Tommy is a Taiwanese PhD student major in Electrical and Electronic Engineering at the Univeristy of Manchetser and he was awarded the Department MSc Success Scholarship to fund his PhD study. He received his Master degree in Advanced Control and Systems Engineering with Distinction from the University of Manchester in 2019, and his Bachelor degree in Mechanical Enginering from National Chiao Tung University in 2017. </p>
                    <h5>Education</h5>
                    <p> Present &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp The University of Manchester, PhD in Electrical and Electronic Engineering</p>
                    <p> 2019-2019 &nbsp &nbsp The University of Manchester, MSc in Advanced Control and Systems Engineering</p>
                    <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbspFind out my study experience on the student blog, <b><a href="https://www.mub.eps.manchester.ac.uk/eee/2020/05/26/explore-msc-advanced-control-and-systems-engineering/" title="" class="link-like-text">HERE</a></b>.
                    <p> 2013-2017 &nbsp &nbsp National Chiao Tung University, Bachelor of Mechanical Engineering</p>
                    <h5>Work Experience</h5>
                    <p> May-Jun 2020 &nbsp Relax Chamber (Green Island, Taiwan), Working Holiday</p>
                    <p> Jul-Aug 2018 &nbsp &nbsp Corning Display Technologies Taiwan, Summer Internship Program</p>
                    <ul class="list-unstyled">
                      <a href="mailto:tommy11305@gmail.com" title="" class="fa-icon">
                        <i class="fa fa-envelope"></i>
                      </a>
                      <a href="https://www.facebook.com/profile.php?id=100002059129791" title="" class="fa-icon">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a href="https://www.instagram.com/tommy11305/" title="" class="fa-icon">
                        <i class="fa fa-instagram"></i>
                      </a>
                      <a href="https://www.linkedin.com/in/yu-hsiang-su-8aa269164/" title="" class="fa-icon">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>