<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="shortcut icon" href="{{ url_for('static', filename='robot-with-big-head_icon-icons.com_55270.ico') }}">
  
  <title>Title page</title>  

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./publication.html" title="">Publications</a></li>
          <li><a href="./project1.html" title="">Projects</a></li>
          <li><a href="./contactme.html" title="">Contact</a></li>
          
        </ul>

        <div class="footer-container">
           
              <a href="mailto:tommy11305@gmail.com" title="" class="fa-icon">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="https://www.facebook.com/profile.php?id=100002059129791" title="" class="fa-icon">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/tommy11305/" title="" class="fa-icon">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/in/yu-hsiang-su-8aa269164/" title="" class="fa-icon">
                <i class="fa fa-linkedin"></i>
              </a>
          </p>
                       
        </div>


      </nav> 
    
    </div>
  </nav>
</header>

  


<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">01</span>Data Analysis of COVID-19 in Taiwan</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Projects</h3>
                <ul class="list-unstyled">
                <li><a href="./project1.html" title="">01 Data Analysis of COVID-19 in Taiwan</a></li>
                <li><a href="./project2.html" title="">02 Autonomous Buggy Control</a></li>
                </ul>
              </div>
          </div>
          <div class="col-md-8">
            <h3>Introduction</h3>
            <p>On March 11, 2020, the World Health Organization (WHO) declared novel coronavirus (COVID-19) as a global pandemic. Until April 20, 2020, there are more than 2,000,000 infected cases and more than 150,000 deaths around the world. Although not being part of the WHO, Taiwan reported the first confirmed infected case on January 21, 2020, and started taking a series of precaution to prevent the virus from spreading out. Three months later (April 21, 2020), Taiwan has 422 infected cases, 6 deaths and 189 recovery cases.</p>
            <img src="./static/assets/images/project1.png" class="img-responsive" alt=""> 
            <p>In this project, the data analysis of COVID-19 is based on a case study of Taiwan. There are three sections in the project,</p>
            <ol>
              <li>A brief overview of the COVID-19 in Taiwan and its trend</li>
              <li>Distribution of the COVID-19 confirmed cases based on different categories</li>
              <li>The relations between total confirmed cases, deaths and recovery cases</li>
            </ol>
            <p>The full project can be found through the link,<b><a href="https://yuhsiangsu.github.io/Taiwan_COVID19.html" title="" class="link-like-text"> HERE</a></b>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="navbar-nav nav">
          <li>
            <a href="./project1.html" title="" class="project-nav left"><span class="project-number">01</span>Previous</a>
          </li>
        </ul>
        <p class="h5 navbar-text">Data Analysis of COVID-19 in Taiwan<i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>

        <ul class="navbar-nav nav navbar-right">
          <li>
            <a href="./project2.html" title="" class="project-nav right"><span class="project-number">02</span>Next </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>





<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>