<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="shortcut icon" href="{{ url_for('static', filename='robot-with-big-head_icon-icons.com_55270.ico') }}">
  
  <title>Title page</title>  

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./publication.html" title="">Publications</a></li>
          <li><a href="./project1.html" title="">Projects</a></li>
          <li><a href="./contactme.html" title="">Contact</a></li>
          
        </ul>

        <div class="footer-container">
           
              <a href="mailto:tommy11305@gmail.com" title="" class="fa-icon">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="https://www.facebook.com/profile.php?id=100002059129791" title="" class="fa-icon">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/tommy11305/" title="" class="fa-icon">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/in/yu-hsiang-su-8aa269164/" title="" class="fa-icon">
                <i class="fa fa-linkedin"></i>
              </a>
          </p>
                       
        </div>


      </nav> 
    
    </div>
  </nav>
</header>

  


<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">02</span>Autonomous Buggy Control</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Projects</h3>
                <ul class="list-unstyled">
                <li><a href="./project1.html" title="">01 Data Analysis of COVID-19 in Taiwan</a></li>
                <li><a href="./project2.html" title="">02 Autonomous Buggy Control</a></li>
                </ul>
              </div>
          </div>
          <div class="col-md-8">
            <h3>Overview</h3>
            <p>In this project, we design the control structure and tune the control parameters for the given autonomous buggy to achieve the line following function and compete in the assigned path.<b>The project was awarded second place in the Autonomous Buggy Control 2019 by Department of Electrical and Electronic Engineering, The University of Manchester.</b></p>
            <div class=row>
              <div class="col-md-4">
                <img src="./static/assets/images/project2.jpeg" class="img-responsive" alt="">
              </div>
              <div class="col-md-8">
                <img src="./static/assets/images/IMG_9065.JPG" class="img-responsive" alt="">
              </div>
            </div>
            <h3>Control Structure</h3>
            <p>The control structure consists of two loops: (a)inner loop and (b) outer loop. The inner loop is the PI contorller for each of the two motors and the other loop is a bang-bang controller based on the feedback measurement of the reflectance sensor.</p>
            <img src="./static/assets/images/project2_2.png" class="img-responsive" alt="">
            <h3>Line Following Demo</h3>
            <iframe id="ytplayer" type="text/html" width="640" height="360" src="https://www.youtube.com/embed/Dp_7dKJHzGs?autoplay=1" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="navbar-nav nav">
          <li>
            <a href="./project1.html" title="" class="project-nav left"><span class="project-number">01</span>Previous</a>
          </li>
        </ul>
        <p class="h5 navbar-text">Autonomous Buggy Control<i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>

        <ul class="navbar-nav nav navbar-right">
          <li>
            <a href="./project2.html" title="" class="project-nav right"><span class="project-number">03</span>Next </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>





<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>